body {
  background-color:amethyst-purple;
  font-family: Arial, sans-serif;
}

h1 {
  border: solid pink 25px;
  padding: 25px:
  color: #333;
  text-align: center;
}

h2 {
 font-weight:bold;
 text-align: center;
}

h3{
 font-size:10px;
 text-align: center;
}

h4{
 font-style: italic;
 text-align: center;
}

p {
  color: #666;
  line-height: 1.6;
 text-align: center;
}

img{
 text-align: center;
}
 